server:
    port: 8083

spring:
    application:
        name: PAYMENT-SERVICE

    datasource:
        url: jdbc:mysql://localhost:3306/hotel_db
        username: root
        password: x1y2z3a4b5

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
