server:
  port: 8082

spring:
  application:
    name: BOOKING-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/booking_db
    username: root
    password: x1y2z3a4b5
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
